/* You can add global styles to this file, and also import other style files */
* {
  background-color: #dbdbca;
  font-family: fantasy;
  font-size: 1em;
}

h1 {
  margin-top: 2em;
}

.container {
  width: 80%;
  margin: 0 auto;
}
