<div class="container nav-bar">
  <a href="#" [routerLink]="['/home']" class="logo">Application</a>
  <nav>
    <ul>
      <li><a href="#" [routerLink]="['/home']">Home</a></li>
      <li><a href="#" [routerLink]="['/todo']">To-Do App</a></li>
      <li><a href="#" [routerLink]="['/about']">About</a></li>
    </ul>
  </nav>
</div>
