$primary: rgb(100, 100, 100);

.nav-bar {
  background-color: $primary;
  padding: 1em;

  a {
    background-color: $primary;
    color: white;
    text-decoration: none;

  }

  a.logo {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 1em;

  }

  nav {
    float: right;
    margin-top: .3em;

    ul {
      background-color: $primary;
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);

        }

      }

    }

  }

}
