<div class="container">
  <button type="button" [routerLink]="['/todo']">Back to list</button>
  <div class="todo-input">
    <input type="text" placeholder="What need to be done?" [(ngModel)]="content" (keyup.enter)="pushback()">
  </div>
</div>
