button {
  margin-top: 3em;
  color: white;
  background-color: rgb(105, 105, 105);
  border: none;
  border-radius: .3em;
  padding: .5em .5em;
  font-size: 2em;
}

.todo-input {
  margin-top: 4em;
  background-color: rgb(105, 105, 105);
  text-align: center;

  input {
    background-color: white;
    color: black;
    border: none;
    border-radius: .3em;
    width: 95%;
    height: 2em;
    margin: 2em 0;
  }
  margin-bottom: 10em;
}
