<div class="todo-list">
  <!-- Displaying todos -->
  <div class="todo-item" *ngFor="let todo of todos">
    <div class="todo-item-left">
      <input *ngIf="todo.completed === false; else completed" type="checkbox" (click)="changeCompleted(todo)">
      <ng-template #completed>
        <input checked type="checkbox" (click)="changeCompleted(todo)">
      </ng-template>
      <div *ngIf="todo.editing === false; else editing" class="todo-content" [ngClass]="{ 'completed' : todo.completed }" (dblclick)="edit(todo)">
          {{ todo.content }}
      </div>
      <ng-template #editing>
        <input type="text" [(ngModel)]="todo.content" class="todo-item-edit" (keyup.enter)="todo.editing = false" (keyup.esc)="rollback(todo)" (dblclick)="todo.editing = false">
      </ng-template>
    </div>
    <div class="todo-item-remove" (click)="remove(todo.id)">
      &times;
    </div>
  </div>
</div>
