div {
  background-color: rgb(105, 105, 105);
  color: white;
}
.todo-list {
  width: 100%;
  margin-top: 4em;

  .todo-item {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todo-item-left {
      display: flex;
      align-items: center;
      width: 100%;


      .todo-content {
          margin-left: 2em;
          width: 100%;
        }

        .todo-item-edit {

          margin-left: 2em;
          width: 100%;
          resize: none;
          border: none;
          background-color: rgb(120, 120, 120);

        }
      }


      .completed {
        text-decoration: line-through;
        color: rgb(169,169,169);
      }

    }

  }

.todo-item-remove {
  cursor: pointer;
  margin-left: 2em;

  &:hover {
    color: rgb(139, 0, 0);
  }

}
